.modal-cong-trinh1 {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.803);
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 10;
}

.modal-cong-trinh2 {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.803);
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 10;
}

.modal-cong-trinh3 {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.803);
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 10;
}

.modal-cong-trinh4 {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.803);
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 10;
}

.modal-cong-trinh5 {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.803);
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 10;
}

.modal-cong-trinh6 {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.803);
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 10;
}

.js-modal-container1 {
   width: 1320px;
   height: 583px;
}

.js-modal-container2 {
   width: 1320px;
   height: 583px;
}

.js-modal-container3 {
   width: 1320px;
   height: 583px;
}

.js-modal-container4 {
   width: 1320px;
   height: 583px;
}

.js-modal-container5 {
   width: 1320px;
   height: 583px;
}

.js-modal-container6 {
   width: 1320px;
   height: 583px;
}

.price-table {
   padding: 0 10px;
   background-color: rgb(239, 243, 248);
   padding-bottom: 50px;
   margin-top: 50px;
}

.price-table-header {
   text-align: center;
   padding-top: 50px;
   padding-bottom: 20px;
   margin-bottom: 8px;
}

.price-table-header span {
   display: inline-block;
   text-transform: uppercase;
   color: #131a24;
   font-size: 38px;
   line-height: 1.2;
}

.price-table-main {
   margin: 0 180px;
}

.price-item-header {
   background-color: rgb(242, 206, 118);
   color: rgb(21, 21, 20);
   font-size: 32px;
   font-weight: bold;
   text-align: center;
   line-height: 1;
   min-height: 130px;
   padding-top: 50px;
}

.price-item-title {
   background-color: white;
   text-align: center;
   padding: 15px 0;
   color: rgb(21, 21, 20);
   font-size: 18px;
   font-weight: bold;
   line-height: 1.2;
}

.price-item-desc {
   background-color: white;
   padding-left: 15px;
   padding-bottom: 20px;
   color: rgb(21, 21, 20);
}

.feedback {
  
   margin-bottom: 50px;
}

.feedback-header {
   text-align: center;
   padding-top: 50px;
   border-bottom: 2px solid rgb(242, 206, 118);
   margin-bottom: 8px;
   padding-bottom: 10px;
}

.feedback-header span {
   text-transform: uppercase;
   display: inline-block;
   color: #131a24;
   font-size: 38px;
   line-height: 1.2;
}

.feedback-container {
   padding-top: 20px;
}

.feedback-item {
   text-align: center;
}

.feedback-item-info img {
   width: 134px;
   height: 134px;
   border-radius: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
}

.feedback-item-info h6 {
   margin-bottom: 3px;
}

.feedback-item-info .info-name {
   color: rgb(33, 33, 33);
   font-size: 18px;
   font-weight: bold;
   text-align: center;
   line-height: 1.2;
}

.feedback-item-info .info-house {
   color: rgb(33, 33, 33);
   font-size: 14px;
   font-style: italic;
   text-align: center;
   line-height: 1.2;
   font-weight: 400;
}

.feedback-item-info .info-rate {
   color: rgb(255, 174, 15);
   font-size: 20px;
   text-align: center;
   line-height: 1.2;
}

.feedback-item-desc p {
   margin-top: 8px;
}

/* @media screen and (max-width: 950px) {
   .price-table-main {
      margin: 0 0;
   }
} */

@media screen and (max-width: 700px) {
   .price-table-main {
    
      margin: 0;
   }
}