<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiến trúc và xây dựng Việt Dũng</title>
    <link rel="icon" class="rounded-full" href="../public /img/logo.png">
    <link rel="stylesheet" href="../public /style/homepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="static container-full">
        <nav class="absolute top-0 grid grid-cols-4 gap-4 h-24 w-full">
            <div class="flex justify-center ">
                <div class="w-24 h-24">
                    <img src="../public /img/logo-nav.png" alt="">
                </div>
            </div>
            <div class="col-span-3 flex flex-col ">
                <div class="nav-left-1 flex flex-row gap-36 h-5 mt-1 mb-1 ml-10">
                    <div class="flex row text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                                clip-rule="evenodd" />
                        </svg>
                        <div class="text-xs text-white">Thời gian làm việc: 8h-17h</div>
                    </div>
                    <div class="flex row text-white ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
                            <path
                                d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                        </svg>
                        <div class="text-xs text-white">Hotline:0912354103 - 0912354103</div>
                    </div>
                    <div class="flex row text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                        </svg>
                        <div class="text-xs text-white">Email: hungvt164@gmail.com</div>
                    </div>

                </div>
                <div class="nav-left-2 flex flex-row w-full">
                    <div class="navbar-left h-11 flex row w-full">
                        <div class="text-sm font-medium mx-10 mt-3">
                            TRANG CHỦ
                        </div>
                        <div class="text-sm font-medium  mx-10 mt-3">
                            SẢN PHẨM
                        </div>
                        <div class="text-sm  font-medium  mx-10 mt-3">
                            THƯƠNG HIỆU
                        </div>
                        <div class="text-sm  font-medium  mx-10 mt-3">
                            DỰ ÁN
                        </div>
                        <div class="text-sm  font-medium  mx-10 mt-3">
                            SỰ KIỆN
                        </div>
                        <div class="text-sm  font-medium  mx-10 mt-3">
                            LIÊN HỆ
                        </div>
                    </div>

                </div>
            </div>
        </nav>
        <div class="head flex items-center justify-center">

            <div class="head-center1">
                <span class="head-center1-child1 float-right mr-4 mt-8">
                    TIEN HUNG

                </span>
                <span class="head-center1-child2 float-right mr-4">
                    Nguyễn Ceramics được thành lập 17/08/2020, chúng tôi chuyên cung cấp những giải pháp chất liệu ngành
                    xây dựng cho những công trình và kiến trúc tại Cần Thơ và các tỉnh miền Tây
                </span>

            </div>
            <div class="head-center2">

                <div class="head-center2-child1 mt-4 ml-4">
                    Chất lượng - Uy tín - Tận tâm
                </div>
                <div class="w-full h-full">
                    <div class="head-center2-child2 mt-2 ml-4">
                        Xem thêm
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>